#title { 
	font-family: nevis;
}

#main_container { 
	width: 600px;
	min-width: 400px;
}

#summary_container{
	font-family: arial; 
	font-size:medium;
}

#alt_smmry_container{ 
	display:none;
	text-align:center;
}

#alt_keywords_container{
	display:none;
	text-align:center;
}

.navbar-outer { 
	width: 40px;
}

#attribution{ 
	font-size:75%;
}

/*#important_words { 
	display:inline-block;
}*/

table{
	table-layout: fixed; 
	width: 100%;
}

.hover{ 
	background-color:pink;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

textarea { 
	resize:vertical; 
}

.saved_article{ 
	display:none;
	font-family: arial;
	font-size: medium;
}

.saved_summary{
	font-family: arial;
	font-size:medium;
}

#clear_history_btn{ 
	display:none;
}

#no_history_msg{ 
	display:none;
}